*{
    margin: 0;
    padding: 0;
}

.infoDay{
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ececec;
}

.infoNight{
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262626;
    color: #ececec;
}

.autDay{
    float:right;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    inline:none;
    font-family: sans-serif;
    text-decoration: none;
    color:black;
}


.autNight{
    float:right;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dedddd;
    border-radius: 8px;
    inline:none;
    font-family: sans-serif;
    text-decoration: none;
    color:white;
}

.autDay:hover{
    background: #d4caca;
}
.autNight:hover{
    background: #585656;
}

.h5Day{
    margin-top: 10px;
    width: 50px;
    display: inline;
    float: right;
}

.h5Night{
    margin-top: 10px;
    width: 50px;
    display: inline;
    float: right;
    color: white;
}
.headerDay{
    width: 100%;
    height: 60px;
    background: #ececec;
    border-bottom: 1px solid #000000;
}
.headerNight{
    width: 100%;
    height: 60px;
    background: #262626;
    border-bottom: 1px solid white;
}

.contentDay{
    background: white;
    color: #000000;
    height: auto;
    height: 200%;
}
.contentNight{
    background: #363636;
    color: white;
    height: 200%;
}

.nameDay{
    font-size: 20px;
    padding-top: -5px;
    width: 250px;
    padding-left: 80px;
    display:inline-block;
}

.nameNight{
    color: #ececec;
    padding-left: 80px;
    font-size: 20px;
    padding-top: -5px;
    width: 250px;
    display:inline-block;
}
@media (max-width: 400px) {

    .nameDay{
        display: none;
    }
    .nameNight{
        display: none;
    }
}
@media (max-width: 670px) {

    .formDay{
        padding: 50px;
        border: 1px solid #cccccc;
        border-radius: 10px;
        position: fixed; top: 5%; left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.formDay{
    z-index: 999999;
    background: #ffffff;
    padding: 50px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: black;
}
.formNight{
    z-index: 999999;
    background: #262626;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 10px;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: white;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    display: none;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox:checked + label:before {
    background: #9FD468;
}
.checkbox:checked + label:after {
    left: 26px;
}
.checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}

.buttonDay{
    padding: 20px 30px;
    background: white;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 15px;
}
.h3Day{
    color: black;
}
.h3Night{
    color: white;
}
.buttonNight{
    padding: 20px 30px;
    background: #262626;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 15px;
    color: white;
}
.cancelDay{
    border: 1px solid black;
    display: inline-block;
    padding: 19px 29px;
    text-decoration: none;
    color: #000;
    background: white;
    border-radius: 5px;
}
.cancelNight{
    border: 1px solid white;
    display: inline-block;
    padding: 19px 29px;
    text-decoration: none;
    color: white;
    background: #262626;
    border-radius: 5px;

}
.sendDay{
    border: 1px solid black;
    display: inline-block;
    padding: 19px 5px;
    text-decoration: none;
    color: #000;
    background: white;
    border-radius: 5px;
}
.sendNight{
    border: 1px solid white;
    display: inline-block;
    padding: 19px 5px;
    text-decoration: none;
    color: white;
    background: #262626;
    border-radius: 5px;
}
.buttonDay:hover{
    background: #d4caca;
}
.cancelDay:hover{
    background: #d4caca;
}

.buttonNight:hover{
    background: #535353;
}
.cancelNight:hover{
    background: #535353;
}

.sendDay:hover{
    background: #d4caca;
}
.sendNight:hover{
    background: #535353;
}

#checkboxD{
    float: right;
    top: 20px;
}


.menu {
    background: #555 url('../imageMainPage/menu-bg.jpg') repeat left top;
    left: -140px;
    height: 100%;
    position: fixed;
    width: 140px;
}

.background {
    height: 20px;
    width: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu ul {
    border-top: 1px solid #555;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #555;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-left: 20px;
}

.menu li:hover {
    cursor: pointer;
    background-color: #555;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 40px;
    margin-bottom:20px;
    height: 20px;
    width: 20px;
}


.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 18px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    color: #262626;
}

.icon-menu img {
    margin-right: 5px;
    width: 40px;
}

.link a{
    display: block;
}

.fileArea{
    display: none;
}

.allPhoto{
    margin: 0 30px 0 150px;
}

.allPhoto a{
    margin-right: 10px ;
    padding-bottom: 40px ;
}

.allPhoto img{
    width: 117px;
    height: 187px;
    padding-bottom: 20px;

}
.holder{
    display: inline-block;
    position:relative;
    width: 117px;
    height: 147px;
    background:#ff6600;
    margin-left: 20px;
    margin-top: 20px;
}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background: rgba(173, 173, 173, 0.7);
    height: 30px;
    display:none;
}
.holder:hover .block{
    display:block;
}
.infoImage{
    color: black;
    text-decoration: none;
    float: right;
}

.mem{
    color: white;
}